<head>
  <title>{{ site.title }}{% if post.title %} :: {{ post.title }}{% else if page.title %} : : {{ page.title }}{% endif %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if site.author %}<meta name="author" content="{{ site.author }}">{% endif %}
  {% if post.excerpt %}<meta name="description" content="{{ post.excerpt }}">
  {% else %}<meta name="description" content="{{ site.description }}">{% endif %}
  <link rel="stylesheet" href="{{ link "/assets/css/lanyon.css" }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="stylesheet" href="{{ link "/assets/main.css" }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ link "/assets/main.css" }}"></noscript>
  {%- if page.css -%}{%- for stylesheet in page.css -%}
  <link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css">
  {%- endfor -%}{%- endif -%}
  {%- feed_meta -%}
</head>
