{%- if post.read_time -%}
	{%- if post.mins -%}
		{%- assign mins = post.mins -%}
	{%- else -%}
		{%- assign wpm = site.words_per_minute | default: 200 -%}
		{%- assign words = post.content | strip_html | number_of_words -%}

		{%- if words < wpm -%}
			{%- assign mins = "< 1" -%}
		{%- elsif words < wpm -%}
			{%- assign mins = 1 -%}
		{%- else -%}
			{%- assign mins = words | divided_by: 200.0 | round -%}
		{%- endif -%}
	{%- endif -%}

<span class="read-estimate">{{ mins | append: " min" }}</span>
{%- endif -%}
