<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

{% comment %}Modified from Lanyon: https://github.com/poole/lanyon/blob/master/_includes/sidebar.html{% endcomment %}

<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    {%- if site.image -%}
    <img class="sidebar-image" src="{{site.image}}" alt="My picture of choice">
    {%- endif -%}
    <p>{{ site.description | markdownify }}</p>
  </div>

  <nav class="sidebar-nav">
    {%- for node in site.data.navigation.links | sort:"url" -%}
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}"><strong>λ  </strong>{{ node.name }}</a>
    {%- endfor -%}
  </nav>

  <div class="sidebar-item">
    <p> &copy; {{ site.time | date: '%Y' }}. Everything published under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>. I have a thing for sticky licenses.</p>
  </div>
</div>
