<ul class="extern-list">

	{%- if site.external.bitbucket -%}
  <li><a href="https://bitbucket.org/{{ site.external.bitbucket | cgi_escape | escape }}" class="extern-git">
    <svg class="svg-icon">
      <use xlink:href="{{ link '/assets/minima-social-icons.svg#bitbucket' }}"></use>
    </svg>
    <span class="username">{{ site.external.bitbucket | escape }}</span>
  </a></li>
  {%- endif -%}

	{%- if site.external.dribbble -%}
  <li><a href="https://dribbble.com/{{ site.external.dribbble| cgi_escape | escape }}">
    <svg class="svg-icon">
      <use xlink:href="{{ link '/assets/minima-social-icons.svg#dribbble' }}"></use>
    </svg>
    <span class="username">{{ site.external.dribbble| escape }}</span>
  </a></li>
  {%- endif -%}

	{%- if site.external.github -%}
  <li><a href="https://github.com/{{ site.external.github| cgi_escape | escape }}">
    <svg class="svg-icon">
      <use xlink:href="{{ link '/assets/minima-social-icons.svg#github' }}"></use>
    </svg>
    <span class="username">{{ site.external.github| escape }}</span>
  </a></li>
  {%- endif -%}

	{%- if site.external.gitlab -%}
  <li><a href="https://gitlab.com/{{ site.external.gitlab | cgi_escape | escape }}">
    <svg class="svg-icon">
      <use xlink:href="{{ link '/assets/minima-social-icons.svg#gitlab' }}"></use>
    </svg>
    <span class="username">{{ site.external.gitlab| escape }}</span>
  </a></li>
  {%- endif -%}

</ul>
