p { line-height: 1.4; }
ul { margin-bottom: 0; }

blockquote {
	margin: 0;
	margin-bottom: 1em;
}

#resume {
	margin: 2em 2em 2em 2.5em;
	max-width: 760px;
}

.heading header {

	h1 {
		font-size: 180%;
		margin: 0.5em 0;
		font-weight: 600;
	}

	h2 {
		font-size: 140%;
		margin: 0;
		font-weight: 400;
	}

	.contact .detail {
		margin: 0 1em 0 0;
	}

}

.profile {
	display: inline-block;
	margin: 0 1em 0 0;

	strong,
	span {
		display: block;
		margin: 0 1em 0 0;
	}

}

/* section / line breaks */
section {
	margin: 2em 0;
	break-inside: avoid;
	page-break-inside: avoid;
}

section h2 {
	font-size: 140%;
	margin: 0 0 0.8em;
	text-transform: uppercase;
	color: #BC1B39;
	font-weight: 400;
}

/* Experience items */
.item {
	margin: 0 0 1em;
	padding: 0 0 1em;
	border-bottom: 1px solid #DEE8F1;

	header a { display: inline-block; }

	header h3 {
		margin: 0.2em 1em 0.2em 0;
		display: inline-block;
		font-weight: 600;
	}

	.position {
		font-weight: 600;
		font-size: 100%;
		margin: 0.2em 1em 0.2em 0;
	}

	.startDate,
	.endDate { color: #6B6B6B; }

	.highlights {
		list-style: square;
		font-size: 90%;
	}

}

.item:last-child {
	border-bottom: none;
}

.two-col .item {
	display: inline-block;
	vertical-align: top;
	margin: 0.7em;
	width: 45%;
	border-bottom: 0;
}

/* skills */
#skills .item {
	margin: 0.5em 0;
	padding: 0 0 0.5em;
	font-size: 90%;

	.name {
		font-weight: 600;
		display: inline-block;
		text-transform: uppercase;
		margin: 0 1em 0 0;
		min-width: 23%;
		vertical-align: top;
	}

	.keywords {
		display: inline-block;
		vertical-align: top;
	}

}

#publications {
	.authors { font-size: 0.8em; }
	.venue { font-size: 0.8em; }
}

@media print {

	@page { margin: 0.5in; }
	#resume { margin: 0.5em; }
	body { font-size: 12px; }
	.site-header { display: none; }
	footer { display: none; }

	.item {
		break-inside: avoid;
		page-break-inside: avoid;
		margin: 0.5em;
	}

}
