---
layout: default
---

{{ content }}

<h2 class="post-list-heading">{{ page.list_title | default: "Hello there" }}</h2>
{%- for post in paginator.posts -%}
<article>
	{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
	<span class="post-meta">{{ post.date | date: date_format }}</span>
	{%- include read_time.html -%}
	<h3><a class="post-link" href="{% if post.link %}{{ post.link }}{% else %}{{ post.url | relative_url }}{% endif %}">
		{%- if post.link -%}@ {%- endif -%}{{ post.title | escape }}
	</a></h3>
{%- if site.show_excerpts -%}
	{{ post.excerpt | markdownify }}
{%- endif -%}
</article>
{%- endfor -%}
{%- if paginator.previous_page -%}
<p><a href="{{ paginator.previous_page_path }}">Previous</a></p>
{%- endif -%}
{%- if paginator.next_page -%}
<p><a href="{{ paginator.next_page_path }}">Next</a></p>
{%- endif -%}
